body {
    background-color: #161628;
    color: #d9d6ef;
}

.container {
    border: 4px solid #00002f;
}

.container-section {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}